@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body, input, textarea, button, select {
    font-family: 'Black Ops One';
    font-size: 20px;
    margin: 0;
    padding: 1em;
  }

body {
    background-color: #abc1dd;
  }

header nav ul {
    background-color: white;
    border: 1px solid black;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
  }

header nav ul li {
    display: inline-block;
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-size: larger;
  }

a {
    color: blue;
    text-decoration: none;
  }

a:hover {
    color:rgb(0, 162, 255);
}

select[multiple] {
    height: 7.5em;
  }

textarea {
    margin: 0;
    padding: .25em .5em;
  }

table {
    width: 100%;
    text-align: center;
  }

td {
    background-color: white;
    box-shadow: 1px 1px 1px 1px black;
  }

label {
    font-size: large;
    display: table-cell;
}

input, textarea, select {
    border-radius: 10px;
    border-width: 1px;
    height: auto;
    margin: 0;
    padding: .25em .5em;
}

button {
    padding: 10px;
}
